body {

    background-color: #BFDBF6;

}

#loger {
      
      width: 200px;
      background-color: #ffffff;
      margin: 0 auto;

}

#searcher {
      
      width: 200px;
      background-color: #ffffff;
      margin: 0 auto;

}